@model ButterCMS.Models.Post

@{
    string authorProfilePicturePlaceHolder = "~/assets/images/placeholder.png";
}

<div class="blog-roll-card-meta">
    <h2 class="blog-roll-card-header">
        <a asp-controller="Blog" asp-action="Post" asp-route-slug="@Model.Slug" class="main-btn btn-hover">@Model.Title</a>
    </h2>
    <ul class="blog-roll-card-meta-info">
        <li>
            <a href="javascript:void(0)"><img src="@(Model.Author.ProfileImage ?? authorProfilePicturePlaceHolder)" alt="#">@Model.Author.FirstName @Model.Author.LastName</a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <i class="lni lni-calendar"></i> @Model.Published
            </a>
        </li>
        <li>
            @foreach (var tag in Model.Tags)
            {
                <a asp-controller="Blog" asp-action="Index" asp-route-tagSlug="@tag.Slug"><i class="lni lni-tag"></i>@tag.Name</a>
            }
        </li>
    </ul>
</div>

@if (Model.FeaturedImage != null)
{
    <div class="single-post-thumbnail">
        <img src="@Model.FeaturedImage" alt="@Model.FeaturedImageAlt">
    </div>
}
