<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="@ViewBag.Description" />
    @if (ViewBag.Image != null)
    {
        <meta name="image" content="@ViewBag.Image" />
    } 

    <title>@ViewBag.Title</title>

    <link rel="shortcut icon" type="image/x-icon" href="https://buttercms.com/static/v2/images/favicon.png" />

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/lineicons.css" />
    <link rel="stylesheet" href="~/assets/css/main.css" />

    <link rel="preload"
          href="~/assets/css/tiny-slider.css"
          as="style"
          onload="this.onload=null;this.rel='stylesheet'">

    <noscript><link rel="stylesheet" href="~/assets/css/tiny-slider.css"></noscript>
</head>
<body>
    <partial name="/Views/Shared/Preloader.cshtml" />
    @if (ViewBag.NoHeader == null || !ViewBag.NoHeader)
    {
        @await Component.InvokeAsync("Header");
    }

    @RenderBody()

    @if (ViewBag.NoFooter == null || !ViewBag.NoFooter)
        @await Component.InvokeAsync("Footer");
    }

    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/polyfill.js"></script>
    <script src="~/assets/js/main.js"></script>

    <script src="~/assets/js/tiny-slider.js"></script>
    <script src="~/assets/js/client-slider.js"></script>
    <script src="~/assets/js/section-menu.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
